#form-1 {
	margin-top: 40px;
}

#form-1 .inputs-wrap {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	grid-gap: 15px;
}

#form-1 button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

#form-1 textarea {
	width: 100%;
}

#form-2 {
	width: 200px;
}
